<!DOCTYPE html>
<html lang="eng">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title >QUIZ MANAGEMENT</title>
        <style>body{
             display: flex;
             flex-direction:column;
             margin:2px; 
             background-color:#f1f1f1;
    
             }
             .menu
             {
                display: flex;
               justify-content: space-around;
               background-color: rgb(131, 1, 253);
             }
             .menu a{
                 font-size: 15px;
                 font-weight: bolder;
                 color:white;
             }
    </style>
    </head>
    <body>
        <h1>QUIZ MANAGEMENT</h1>
       <div class="menu">

           <a href="/add">ADD QUIZ</a>
           <a href="/search">SEARCH QUIZ</a>
           <a href="/update">UPDATE QUIZ</a>
           <a href="/delete">DELETE QUIZ</a>
           <a href="/view">VIEW QUIZ</a>
       </div>
    </body>
</html>