<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
      <form action="/removestudent">
   <h3>DELETE TEAM</h3>
   
    <hr>
 
    <label for="eml-id"><b>TEAM Id</b></label>
    <input type="text" placeholder="Enter TEAM Id to be searched" name="email" id="email" required>
   
    <button type="submit" class="registerbtn">DELETE USER</button>
    <a href="./" style="color:black">BACK TO HOME PAGE</a>

    <br>
    {{#if mesg1}}
    <h3>Data deleted!</h3>
    {{/if}}

     {{#if mesg2}}
    <h3>Not found!</h3>
    {{/if}}
    </form>
  </div>
</body>
</html>