<!DOCTYPE html>
<html lang="eng">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title >TEAM MANAGEMENT</title>
        <style>body{
             display: flex;
             flex-direction:column;
             margin:2px; 
             background-color: rgba(59, 188, 192, 0.651);
    
             }
             .menu
             {
                display: flex;
               justify-content: space-around;
               background-color: rgb(253, 114, 1);
             }
             .menu a{
                 font-size: 15px;
                 font-weight: bolder;
                 color:white;
             }
    </style>
    </head>
    <body>
        <h1>TEAM MANAGEMENT</h1>
       <div class="menu">

           <a href="/add">ADD TEAM</a>
           <a href="/search">SEARCH TEAM</a>
           <a href="/update">UPDATE TEAM</a>
           <a href="/delete">DELETE TEAM</a>
           <a href="/view">VIEW TEAM</a>
       </div>
    </body>
</html>